@model Shangri_La.EpiServer.SL.Web.Models.ViewModels.RoomPage.ExploreOtherRoomsListViewModel

<!-- Module Explore other rooms starts here-->
<section class="section-row explore-other-rooms equal-height-section">
    <div class="container">
        <h2 class="section-heading">@Html.PropertyFor(m => m.Heading)</h2>
        <div class="row">

            @Html.PropertyFor(x => x.FeatureRoomsContentArea, new { Tag = "ExploreOtherRooms" })

            @*<div class="col-xs-12 col-sm-12 col-md-6">
                <div class="explore-container shadow-box row equal-height-block">
                    <div class="col-xs-12 col-sm-5 col-md-6 no-gutter">
                        <div class="image-container"><img src="@Url.Content("~/Content/img/content/explore-room1.jpg")" alt="{CMS}"></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-6 no-gutter">
                        <div class="content-container">
                            <div class="heading">Horizon Club Deluxe Room</div>
                            <p class="description">Inspired by timeless Asian design and furnished to accentuate the dazzling views.</p><a href="#" class="common-cta">VIEW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="explore-container shadow-box row equal-height-block">
                    <div class="col-xs-12 col-sm-5 col-md-6 no-gutter">
                        <div class="image-container"><img src="@Url.Content("~/Content/img/content/explore-room2.jpg")" alt="{CMS}"></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-6 no-gutter">
                        <div class="content-container">
                            <div class="heading">Horizon Side Harbour View Room</div>
                            <p class="description">Classic Asian influence meets modern indulgence, nestled in the waterfront skyline.</p><a href="#" class="common-cta">VIEW MORE</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>
<!-- Module  Explore other rooms Ends here -->
