@model ShangriLa.CMS.SL.Web.Models.Blocks.HotelHomepage.OffersContentBlock

 <!-- Module Hotel Offers starts here-->
<section id="offers" class="section-row hotel-offers-list equal-height-section inpage-element">
    <div class="container carousel-container">
        <h2 class="section-heading">Great offers at Shangri-La Hotel, Singapore</h2>
        <div class="row">
            <div class="owl-carousel mobile-carousel">
                <div class="item">
                    <div class="col-xs-12 col-sm-6 no-gutter">
                        <div class="great-offer-container shadow-box mobile-equal-height-block">
                            <div class="image-container scaled-image">
                                <a href="#"><img src="@Url.Content("~/Content/img/content/romantic-getaway.jpg")" alt="{CMS}"></a>
                            </div>
                            <div class="content-container">
                                <div class="heading"><a href="#">Romantic getaway</a></div>
                                <p class="description">Grab your special someone and escape to the intimate oasis of the Garden Wing.</p>
                                <div class="button-aligner"><a href="#" class="common-cta">READ MORE</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-xs-12 col-sm-6 no-gutter">
                        <div class="great-offer-container shadow-box mobile-equal-height-block">
                            <div class="image-container scaled-image">
                                <a href="#"><img src="@Url.Content("~/Content/img/content/fresh-start.jpg")" alt="{CMS}"></a>
                            </div>
                            <div class="content-container">
                                <div class="heading"><a href="#">Fresh start</a></div>
                                <p class="description">Rise, shine and seize the day. Fuel up with a healthy, hearty breakfast at The Waterfall free of charge, with additional dining benefits available.</p>
                                <div class="button-aligner"><a href="#" class="common-cta">SEE MORE</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-all-button"><a href="#" class="button-secondary">SEE ALL OFFERS</a></div>
    </div>
</section>
<!-- Module Hotel Offers Ends here          -->