@model ShangriLa.CMS.SL.Web.Models.Blocks.HotelHomepage.ExperienceContentBlock
 <!-- Module Our Relax, Reboot and Refresh starts here-->
<section id="experience" class="section-row relax-reboot-refresh equal-height-section inpage-element">
    <div class="container carousel-container">
        <div class="section-header read-more-section-header">
            <h2 class="section-heading">Relax, reboot and refresh</h2>
            <p class="description">Whether you feel like working out or chilling out, the leisure facilities at the Shangri-La Hotel have you covered.</p><a href="javascript:void(0)" class="read-more-droplink icon-ios-arrow-down">READ MORE</a>
        </div>
        <div class="row">
            <div class="owl-carousel mobile-carousel">
                <div class="item">
                    <div class="clearfix col-xs-12 col-sm-6 col-md-12 no-gutter">
                        <div class="experience-container clearfix">
                            <div class="image-container scaled-image">
                                <a href="#"><img src="@Url.Content("~/Content/img/content/experience1.jpg")" alt="{CMS}"></a>
                            </div>
                            <div class="content-container shadow-box mobile-equal-height-block">
                                <div class="heading"><a href="#">Orchid opus</a></div>
                                <p class="description">Take a walk through our seven-metre high, open-air orchid greenhouse, specially designed to enhance and complement our unique green environment within 15 acres of lush, sprawling gardens.</p>
                                <div class="button-aligner"><a href="#" class="button-primary">Find Out More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="clearfix col-xs-12 col-sm-6 col-md-12 no-gutter">
                        <div class="experience-container clearfix">
                            <div class="image-container scaled-image img-right">
                                <a href="#"><img src="@Url.Content("~/Content/img/content/experience2.jpg")" alt="{CMS}"></a>
                            </div>
                            <div class="content-container shadow-box content-left mobile-equal-height-block">
                                <div class="heading"><a href="#">Natural touch</a></div>
                                <p class="description">Singapore's original CHI, The Spa offers down to earth luxury in a setting of pure peacefulness. Equipped with natural products, our intuitive therapists offer a range of treatments, including authentic localised specialties. </p>
                                <div class="button-aligner"><a href="#" class="button-primary">Find Out More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-all-button"><a href="#" class="button-secondary">SEE ALL EXPERIENCES</a></div>
    </div>
</section>
<!-- Module Our Relax, Reboot and Refresh starts here-->



