@model Shangri_La.EpiServer.SL.Web.Models.ViewModels.FindTheRoomPanelModel

<!-- Room landing - Found the room starts here-->
<section class="section-row room-landing-found-container">
    <div class="found-special-background">
        <div class="container">
            <div class="found-room-in shadow-box clearfix">
                <div class="section-header">
                    <div class="section-heading">Haven't found the room you want?</div>
                    <p class="description">check out other hotles in singapore</p>
                </div>
                <div class="found-room-booking-panel">
                    <div class="check-status-block hidden-sm hidden-xs">
                        <div class="datepicker-container check-in col-md-6 no-gutter">
                            <div class="form-field">
                                <div class="heading">Check-In</div>
                                <div class="field-container">
                                    <div class="ui-textinput icon-calender">
                                        <input type="text" class="checkInSelectorRooms">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="datepicker-container check-out col-md-6 no-gutter">
                            <div class="form-field">
                                <div class="heading">Check-Out</div>
                                <div class="field-container">
                                    <div class="ui-textinput icon-calender">
                                        <input type="text" class="checkOutSelectorRooms">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="bookingBoxRooms"></div>
                    </div>
                    <div class="button-container"><a href="javascript:void(0)" class="button-submit">GET THE BEST RATES</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room landing - Found the room Ends here-->