@using EPiServer.Core;
@model Shangri_La.EpiServer.SL.Web.Models.Pages.RoomDetailPage

<div class="item">
    <div class="col-sm-6 col-xs-12 no-gutter">
        <div class="half-panel-block">
            <div class="image-container scaled-image">
                <a href="Url.PageUrl(Model.LinkURL)"> <img src="@Url.Content("~/Content/img/content/hotel-landing-room-sml1.jpg")" alt="{CMS}"></a>
            </div>
            <div class="caption-container shadow-box mobile-equal-height-block">
                <div class="featured">Featured</div>
                <h3 class="heading"> <a href="#">@Model.PageName</a></h3>
                <p class="description">Our spacious and stylish Executive Rooms offer city skyline views through sweeping floor-to-ceiling windows, with a full range of amenities for business and leisure. </p>
                <div class="room-price">
                    <p>From <span class="price">HKD2,800 </span>Per night</p>
                </div>
                <div class="button-aligner"><a href="@Url.PageUrl(Model.LinkURL)" class="button-primary">Book Now</a></div>
            </div>
        </div>
    </div>
</div>