@using EPiServer.Editor
@using EPiServer.Core
@using EPiServer.Web

@using Shangri_La.EpiServer.SL.Web.Models.Pages;
@using Shangri_La.EpiServer.SL.Web.Models.ViewModels;
@using Shangri_La.EpiServer.SL.Web.Helpers

@*@model IPageViewModel<SitePageData>*@



 <!-- Module - Trust You - Starts-->
<section class="trust-you-widget">
    <div class="container shadow-box">
        <div class="plugin">
            <iframe src="https://api.trustyou.com/hotels/aa951d42-1c1c-48de-aa67-a98b0a37fcde/seal.html?key=c0be95bb-5c02-4f39-adba-b1449ea0aa74&amp;size=xl" allowtransparency="true" frameborder="0" scrolling="no" height="144px" width="170px"></iframe>
            <!--img(src="img/content/tripadvisor-placeholder.png" alt="tripadvisor" class="retina-image" width="86" height="31")-->
        </div>
        <p>Wow. I always knew Hong Kong would be an amazing place, but this was really mind-blowing. The views of the harbour are truly incredible, like a city from the future.</p><span>Yan Lee, Taiwan</span>
    </div>
</section>
<!-- Module - Trust You - Ends-->